

<div class="blog-sidebar">
  <!-- Featured -->
  <div class="blog-featured-group">
    <!-- Side Box with Event Details -->
    <div class="event-details-box">
      <span class="blog-header">Event Details</span> 

      <div class="detail-item">
        <i class="fas fa-money-bill"></i>
        <p class="detail-label">Amount in UGX:</p>
        <p class="detail-value">{{ amountInUGX }}</p>
      </div>
     
      <div class="detail-item">
        <i class="fas fa-map-marker-alt"></i>
        <p class="detail-label">Location:</p>
        <p class="detail-value">{{ location }}</p>
        <a href="//{{ TicketLink }}" class="button-solid">BuyTicket</a>

      </div>   

      </a>
    </div>
  </div>

</div>
