<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/logo-light.png" alt="logo" width="264" height="78"></a>
            <p>
            Your Reliable Event Ticketing Partner 
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                </ul>
                
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        Kirabo Complex,<br>P.O Box 108873,<br> Bukoto-Kisaasi Rd,<br> Kampala - Uganda.
                        
                    </li>
                    <li>
                        <a href="tel:256-200-910-112">Tel: (256) 256-200-910-112</a>
                    </li>
                    <li>
                        <a href="mailto:help@utrax.co.ug">help@utrax.co.ug</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Socials</h2>
                    </li>
                    <li>
                        <a href="https://twitter.com/_yopas">X</a>
                    </li>
                    <li>
                        <a href="https://t.co/0QX60KhHBY">Instagram</a>
                    </li>
                    <li>
                        <a href="https://t.co/0QX60KhHBY">Facebook</a>
                    </li> 
                    <li>
                        <a href="https://t.co/0QX60KhHBY">Linked In</a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">


        <a href="" target="_blank" rel="noopener">YoPas</a>
        <span class="copyright"> Copyright 2024</span>
    </div>
</footer>