/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  :root {
    --bodyHeader: #1a1a1a;
    --bodyText: #737373;
  }
  body,
  html,
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }
  .blog-container {
    width: 94%;
    max-width: 70em;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .blog-link {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: auto;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--bodyHeader);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    /* prevent padding from adding to the width */
    box-sizing: border-box;
    z-index: 1;
    transition: color .3s;
  }
  .blog-link:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border-radius: 0.25rem;
    transition: opacity .3s;
    border: 1px solid var(--bodyHeader);
    z-index: -1;
  }
  .blog-link:hover {
    color: var(--bodyHeader);
  }
  .blog-link:hover:before {
    opacity: 1;
  }
}
/*-- -------------------------- -->
<---           Header           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #header {
    position: relative;
    z-index: 1;
  }
  #header .blog-container {
    padding: clamp(100px, 14vw, 200px) 0 clamp(50px, 11vw, 100px);
  }
  #header .blog-header {
    font-size: clamp(24px, 4vw, 48px);
    color: #fff;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    width: 100%;
    text-align: left;
  }
  #header .blog-bg {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #header .blog-bg:before {
    /* color overlay */
    content: '';
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #header .blog-bg img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/*-- -------------------------- -->
<---   Interior Page Header     -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #int-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    min-height: 30vh;
    padding-top: 3.125rem;
  }
  #int-hero:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #int-hero picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
  }
  #int-hero picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #int-hero h1 {
    color: #fff;
    font-size: 2.13333333rem;
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 96%;
    max-width: 31.25rem;
    margin-top: 4.375rem;
    margin-bottom: 1.875rem;
  }
  #int-hero p {
    color: #fff;
    text-align: center;
    max-width: 25rem;
    margin: auto;
    margin-bottom: 1.875rem;
    display: block;
    width: 96%;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #int-hero {
    font-size: 100%;
  }
  #int-hero h1 {
    font-size: 4rem;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #int-hero {
    min-height: 18.75rem;
    height: auto;
    padding-top: 11.25rem;
    padding-block-end: 6.25rem;
    background-attachment: fixed;
    font-size: inherit;
  }
}
/*-- -------------------------- -->
<---        Main Content        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  .blog-container {
    padding: clamp(60px, 7vw, 100px) 0;
  }
  .main-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 3.125em;
  }
  .main-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the minmax values as needed */
    gap: 2.125em; /* Adjust the gap between columns and rows as needed */
    justify-content: center;
    align-items: stretch; /* Ensures all grid items stretch to the same height */

}
}
/* Tablet - 1024px */
@media only screen and (min-width: 64em) {
  .main-content-wrapper {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 1.25em;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
  .blog-container {
    padding: 10px;
  }

  .main-content-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    column-gap: 1.25em; /* Adjust the gap between columns */
    padding: 10px;
    margin-bottom: 10px;

  }

  .main-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 10fr)); /* Adjust the minmax values as needed */
    gap: 2.125em; /* Adjust the gap between columns and rows as needed */
    justify-content: center;
    align-items: stretch; /* Ensures all grid items stretch to the same height */
  }
}


/*-- -------------------------- -->
<---    Recent Blog Articles    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  .recent-articles {
    display: grid;
    flex-direction: column;
    height: 100%;
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
    /* Add any other styling you need for each article */
  }
  .recent-articles .blog-mainImage {
    width: 100%;
    height: clamp(200px, 30vw, 400px);
    position: relative;
    display: block;
    border-radius: 0.5em 0.5em 0 0;
    overflow: hidden;
  }
  .recent-articles .blog-mainImage img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .recent-articles .article-group {
    padding: clamp(30px, 5vw, 50px);
    /* border: 1px solid #ebebeb; */
    border-radius: 0 0 0.5em 0.5em;
  }
  .recent-articles .blog-author-img {
    width: 2em;
    height: 2em;
    position: relative;
    display: block;
    border-radius: 50%;
    overflow: hidden;
  }
  .recent-articles .blog-author-img img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .recent-articles .blog-authorGroup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
  }
  .recent-articles .blog-author,
  .recent-articles .blog-date {
    font-size: 0.875rem;
    color: var(--bodyText);
    line-height: 1.5em;
    justify-content: center;
  }
  .recent-articles .blog-h2 {
    font-size: 0.875rem;
    color: var(--bodyText);
    line-height: 1.5em;
    justify-content: center;
  }
  .recent-articles .blog-dot {
    width: 3px;
    height: 3px;
    background-color: var(--primary);
    border-radius: 50%;
    display: block;
  }
  .recent-articles .blog-h1 {
    font-size: clamp(20px, 5vw, 32px);
    line-height: 1.4em;
    font-weight: 700;
    margin: 1rem 0;
    color: var(--bodyHeader);
  }
  .recent-articles .blog-desc {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 1rem 0 2rem;
    color: var(--bodyText);
  }
  .recent-articles .blog-link {
    font-size: 1rem;
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: auto;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--bodyHeader);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    transition: color .3s;
  }
  .recent-articles .blog-link:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border-radius: 0.25rem;
    transition: opacity .3s;
    border: 1px solid var(--bodyHeader);
    z-index: -1;
  }
  .recent-articles .blog-link:hover {
    color: var(--bodyHeader);
  }
  .recent-articles .blog-link:hover:before {
    opacity: 1;
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
  .main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 130px;    
    justify-content: center;
    margin-right: 150px;

  }

  .recent-articles {
    /* border: 1px solid #ddd;
    box-sizing: border-box; */

    display: flex;
    flex-direction: column;
    /* border: 3px solid #ddd; */
    padding: 10px;
    box-sizing: border-box;
    height: 95%; /* Adjust height as needed */
    width: 150%;  /* Make each card fill the entire grid cell */
    border-radius:  0.7em;

  }

  .recent-articles .blog-mainImage {
    width: 100%;
    height: clamp(100px, 30vw, 320px);
    position: relative;
    display: block;
    border-radius: 0.5em 0.5em 0 0;
    overflow: hidden;
  }

  .recent-articles .blog-mainImage img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .recent-articles .article-group {
    padding: clamp(20px, 5vw, 10px);
    border: px solid #ebebeb;
    border-radius:  0.7em;
    

  }

  .recent-articles .blog-author-img {
    width: 2em;
    height: 2em;
    position: relative;
    display: block;
    border-radius: 50%;
    overflow: hidden;
  }

  .recent-articles .blog-author-img {
    width: 2em;
    height: 2em;
    position: relative;
    display: block;
    border-radius: 50%;
    overflow: hidden;
  }
  .recent-articles .blog-author-img img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .recent-articles .blog-authorGroup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
  }

 
  .recent-articles .blog-date {
    font-size: 0.875rem;
    color: var(--bodyText);
    line-height: 1.5em;
    justify-content: center;
    text-align: center;
  }
  .recent-articles .blog-h2 {
    font-size: 0.875rem;
    color: var(--bodyText);
    line-height: 1.5em;
    justify-content: center;
    text-align: center;
  }

  .recent-articles .blog-author {
    font-size: 0.875rem;
    color: var(--bodyText);
    line-height: 1.5em;
    text-align: center;
  }

  .recent-articles .blog-dot {
    width: 3px;
    height: 3px;
    background-color: var(--primary);
    border-radius: 50%;
    display: block;
  }

  .recent-articles .blog-h1 {
    font-size: clamp(20px, 5vw, 32px);
    line-height: 1.4em;
    font-weight: 700;
    margin: 1rem 0;
    color: var(--bodyHeader);
  }

  .recent-articles .blog-desc {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 1rem 0 2rem;
    color: var(--bodyText);
  }

  .recent-articles .blog-link {
    font-size: 1rem;
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: auto;
    color: #fff;
    min-width: 9.375rem;
    padding: 0.75ren 1.5rem;
    background-color: var(--bodyHeader);
    border-radius: 0.25rem;
      border: 2px solid var(--bodyHeader); /* Add a border for emphasis */

    display: inline-block;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    transition: color .3s, background-color .3s, border-color .3s;
  }

  .recent-articles .blog-link:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border-radius: 0.25rem;
    transition: opacity .3s;
    border: 1px solid var(--bodyHeader);
    z-index: -1;
  }

  .recent-articles .blog-link:hover {
    color: var(--bodyHeader);
  }

  .recent-articles .blog-link:hover:before {
    opacity: 1;
  }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode .recent-articles .blog-h1,
  body.dark-mode .recent-articles .blog-desc,
  body.dark-mode .recent-articles .blog-author,
  body.dark-mode .recent-articles .blog-h2 ,

  body.dark-mode .recent-articles .blog-date {
    color: #f7f7f7;
  }

  body.dark-mode .blog-sidebar .feature-h3,
  body.dark-mode .blog-sidebar .feature-date,
  body.dark-mode .blog-sidebar .blog-header {
    color: #f7f7f7;
  }

  body.dark-mode .blog-sidebar .blog-header:after {
    background: var(--primary);
  }

  body.dark-mode .blog-article .blog-h1,
  body.dark-mode .blog-article .blog-author,
  body.dark-mode .blog-article .blog-h2,
  body.dark-mode .blog-article .blog-date {
    color: #f7f7f7;
  }

  body.dark-mode .blog-article #blog-content h2,
  body.dark-mode .blog-article #blog-content h3,
  body.dark-mode .blog-article #blog-content h4,
  body.dark-mode .blog-article #blog-content h5,
  body.dark-mode .blog-article #blog-content h6 {
    color: #f7f7f7;
  }

  body.dark-mode .blog-article #blog-content p,
  body.dark-mode .blog-article #blog-content li {
    color: #f7f7f7;
    opacity: .8;
  }

  body.dark-mode .blog-article #blog-content a {
    color: #9dafe5;
  }
}




/*-- -------------------------- -->
<---          Sidebar           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  .blog-sidebar {
    width: 150%;
    justify-content: right;
    row-gap: 3.125em;
  }
  .blog-sidebar .event-details-box {
    border: 1px solid #ebebeb;
    border-radius: 0.8em;
    width: 10px ;    
    justify-content: center;
    align-items: flex;
    width: 60%;
    margin: 10px;
  }
  .blog-sidebar .blog-header {
    display: block;
    font-size: 1.25em;
    color: var(--bodyHeader);
    font-weight: lighter;
    text-align: left;
    position: center;
  }
  .blog-sidebar .blog-header:after {
    content: '';
    position: center;
    display: block;
    width: 5.125rem;
    height: 3px;
    background: var(--bodyHeader);
    border-radius: 0.25rem;
    margin: 1rem ;
  }
  .blog-sidebar .blog-feature {
    display: flex;
    justify-content: right;
    align-items: center;
    column-gap: 1.5em;
    width: 100%;
    text-decoration: none;
    padding: 1.25rem 0;
    border-bottom: 1px solid #ebebeb;
  }
  .blog-sidebar .blog-feature:nth-of-type(1) {
    padding-top: 0;
  }
  .blog-sidebar .blog-feature:last-of-type {
    padding-bottom: 0;
    border: none;
  }
  .blog-sidebar .blog-featureImage {
    display: block;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 3.75em;
    height: 3.75em;
    flex: none;
  }
  .blog-sidebar .blog-featureImage img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .blog-sidebar .feature-h3 {
    font-size: 0.9375rem;
    line-height: 1.5em;
    color: var(--bodyHeader);
    margin: 0;
    margin-bottom: 0.25rem;
    font-weight: 700;
    display: block;
    text-decoration: none;
  }
  .blog-sidebar .feature-date {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: var(--bodyText);
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48em) and (max-width: 64em) {
  .blog-sidebar {
    max-width: 30em;
    justify-content: right; /* Center the sidebar on the screen */
    padding-top: 220%; /* Add some padding to the sidebar */
  }

  .blog-sidebar .blog-header,
  .blog-sidebar .blog-header:after {
    text-align: center;
    margin-top: 10px;
    font-size: 1.5em; /* Increase font size for tablet header */
    color: #333; /* Change header text color */
  }

  .blog-sidebar .event-details-box {
    width: 80%;
    margin-right: 1000px;
    padding: 15px;
    border: 1px solid #ccc; /* Add a border to the event details box */
    border-radius: 10px; /* Add border-radius for a rounded appearance */
  }

  .blog-sidebar .blog-feature {
    display: flex;
    flex-direction: column; /* Stack feature items vertically */
    padding: 10px;
    border-bottom: 1px solid #ebebeb;
  }

  .blog-sidebar .blog-featureImage {
    width: 100%; /* Make feature images fill the container */
    margin-bottom: 10px;
  }

  .blog-sidebar .feature-h3,
  .blog-sidebar .feature-date {
    text-align: center;
    font-size: 1.2em; /* Adjust font size for feature text */
    color: #555; /* Change feature text color */
  }
}



/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
  .blog-sidebar {
    max-width: 500.5em;
    display: flex;
    flex-direction: column;
    justify-content: right;
    row-gap: 1.875rem;
  }
  .blog-sidebar .blog-featured-group {
    width: 160%;
    padding-left: 0%;
    margin-left: 180%;
    justify-content: center;
    

  
    
  }
  .blog-sidebar .blog-header,
  .blog-sidebar .blog-header:after {
    text-align: center;
    margin-top: 5px;
  }
  .blog-sidebar .blog-feature {
    flex-direction: row;
    border-bottom: none;
    padding: 0;
  }
  .blog-sidebar .blog-featureImage {
    flex: 0 0 auto;
    margin-right: 1.5em;
  }
  .blog-sidebar .feature-h3,
  .blog-sidebar .feature-date {
    text-align: left;
  }
  .event-details-box {
    padding: 50px;
    margin-left: 250%;
  }
}

/*-- -------------------------- -->
<---        Blog Articles       -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  .blog-article {
    max-width: 100.6875em;
    width: 150%;
    display: block;
  }
  .blog-article .blog-mainImage {
    width: 100%;
    height: clamp(200px, 30vw, 400px);
    position: relative;
    display: block;
    border-radius: 0.5em;
    overflow: hidden;
    margin-bottom: 3.125em;
  }
  .blog-article .blog-mainImage img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .blog-article .blog-author-img {
    width: 2em;
    height: 2em;
    position: relative;
    display: block;
    border-radius: 50%;
    overflow: hidden;
  }
  .blog-article .blog-author-img img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .blog-article .blog-authorGroup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
  }
  .blog-article .blog-h2
  .blog-article .blog-author,
  .blog-article .blog-date {
    font-size: 0.875rem;
    color: var(--bodyText);
    line-height: 1.5em;
    
  }
  .blog-article .blog-dot {
    width: 3px;
    height: 3px;
    background-color: #fe4f70;
    border-radius: 50%;
    display: block;
  }
  .blog-article .blog-h1 {
    font-size: clamp(20px, 5vw, 39px);
    line-height: 1.4em;
    font-weight: 700;
    margin: 1rem 0;
    max-width: 34.375rem;
    color: var(--bodyHeader);
  }
  .blog-article #blog-content {
    padding-top: 1.5625em;
    margin-top: 1em;
    border-top: 1px solid #ebebeb;
  }
  .blog-article #blog-content h2 {
    font-size: 1.75rem;
    line-height: 1.5em;
    color: var(--bodyHeader);
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .blog-article #blog-content h3 {
    font-size: 1.5rem;
    line-height: 1.5em;
    color: var(--bodyHeader);
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .blog-article #blog-content h4,
  .blog-article #blog-content h5,
  .blog-article #blog-content h6 {
    font-size: 1.25rem;
    line-height: 1.5em;
    color: var(--bodyHeader);
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .blog-article #blog-content p {
    font-size: 1rem;
    line-height: 1.6em;
    margin: 0;
    margin-bottom: 1rem;
    color: var(--bodyText);
  }
  .blog-article #blog-content a {
    text-decoration: underline;
    font-size: inherit;
    color: #fe4f70;
  }
  .blog-article #blog-content ul,
  .blog-article #blog-content ol {
    padding-left: 2.5rem;
    margin: 0;
    margin: 1rem 0;
  }
  .blog-article #blog-content ul li,
  .blog-article #blog-content ol li {
    font-size: 1rem;
    line-height: 1.6em;
    margin-bottom: 1rem;
    color: var(--bodyText);
    list-style: circle;
  }
  .blog-article #blog-content img {
    width: 100%;
    height: auto;
    display: block;
    margin: 1rem 0;
    border-radius: 0.5rem;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48em) {
  .blog-article {
    max-width: 70em;
    padding: 0 2em;
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
  .blog-article {
    max-width: 70em;
    width: 250%;
    margin: 0 auto;
  }
  .blog-article .blog-mainImage {
    margin-bottom: 2.5em;
  }
  .blog-article #blog-content {
    padding-top: 2em;
  }
}



/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #cs-footer {
    font-family: 'Roboto', 'Arial', sans-serif;
    /* 60px - 100px top and bottom */
    padding: clamp(3.75em, 7.82vw, 6.25em) 1em;
    background-color: #1a1a1a;
  }
  #cs-footer .cs-container {
    width: 100%;
    max-width: 80em;
    margin: auto;
  }
  #cs-footer .cs-logo-group {
    /* takes up all the space, lets the other ul's wrap below it */
    width: 100%;
    position: relative;
  }
  #cs-footer .cs-logo {
    /* 210px - 240px */
    width: clamp(13.125em, 8vw, 15em);
    height: auto;
    display: block;
    /* 28px - 44px */
    margin-bottom: clamp(1.75em, 4.17vw, 2.75em);
  }
  #cs-footer .cs-logo-img {
    width: 100%;
    height: auto;
  }
  #cs-footer .cs-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 2.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 2.5rem;
    /* changes to 521px at desktop */
    max-width: 21.5rem;
    color: var(--bodyTextColorWhite);
  }
  #cs-footer .cs-nav {
    padding: 0;
    padding-left: 1em;
    margin: 0;
    /* 32px - 40px */
    margin-bottom: clamp(2em, 5.3vw, 2.5em);
  }
  #cs-footer .cs-nav-li {
    list-style: none;
    line-height: 1.5em;
  }
  #cs-footer .cs-nav-li:last-of-type {
    margin-bottom: 0;
  }
  #cs-footer .cs-header {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    margin-bottom: 1.25rem;
    color: var(--bodyTextColorWhite);
    position: relative;
    display: block;
  }
  #cs-footer .cs-nav-link {
    font-size: 1rem;
    text-decoration: none;
    line-height: 1.5em;
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #cs-footer .cs-nav-link:before {
    /* underline */
    content: '';
    width: 0%;
    height: 0.125rem;
    /* current color of the parent */
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: -0.125rem;
    left: 0;
    transition: width .3s;
  }
  #cs-footer .cs-nav-link:hover:before {
    width: 100%;
  }
  #cs-footer .cs-bottom {
    width: 100%;
    position: relative;
    padding-left: 1em;
  }
  #cs-footer .cs-copyright {
    font-size: 1rem;
    line-height: 1.5em;
    color: #B4B2C7;
    display: block;
  }
  #cs-footer .cs-social {
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.75em;
    position: absolute;
    right: 1em;
    bottom: 0;
  }
  #cs-footer .cs-social-link {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #4E4B66;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: transform 0.3s, background-color 0.3s;
  }
  #cs-footer .cs-social-link:hover {
    background-color: var(--primary);
    transform: translateY(-0.1875rem);
  }
  #cs-footer .cs-social-img {
    height: 0.8125rem;
    width: auto;
    display: block;
  }
}
/* Inbetween - 600px */
@media only screen and (min-width: 37.5em) {
  #cs-footer .cs-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    /* 48px - 60px */
    column-gap: clamp(3em, 5.9vw, 3.75em);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48em) {
  #cs-footer .cs-logo-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* 20px - 60px */
    margin-bottom: clamp(1.25em, 4vw, 3.75em);
  }
  #cs-footer .cs-logo {
    margin: 0;
  }
  #cs-footer .cs-text {
    text-align: right;
    width: 50%;
    max-width: 32.5625rem;
    margin: 0;
  }
  #cs-footer .cs-nav {
    padding: 0;
  }
  #cs-footer .cs-bottom {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #cs-footer .cs-social {
    flex-direction: row;
    position: relative;
    /* reset these positions */
    bottom: auto;
    right: auto;
  }
}

.featured-event-box {
  flex: 1 1 48%; /* Adjust the width as needed */
  margin: 1%; /* Adjust the margin as needed */
  box-sizing: border-box;
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  /* #sbs {
    padding: var(--sectionPadding);
  } */
  #sbs .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  #sbs .cs-left {
    /* scaling the font size with the view width */
    font-size: min(2.31vw, .7em);
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    height: 39.75em;
    position: relative;
  }
  #sbs .cs-picture {
    border-radius: 1.5em;
    /* clips img tag corners */
    overflow: hidden;
    position: absolute;
    display: block;
  }
  #sbs .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #sbs .cs-picture1 {
    width: 32.625em;
    height: 36.3125em;
    left: 0;
    top: 0;
  }
  #sbs .cs-picture2 {
    width: 25.875em;
    height: 25em;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid #ffffff;
    right: 0;
    bottom: 0;
  }
  #sbs .cs-right {
    margin: auto;
    max-width: 33.875rem;
  }
  #sbs .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .1em;
    font-weight: 600;
    color: var(--primary);
    display: block;
  }
  #sbs .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    max-width: 50rem;
    margin: 0 auto 1rem;
    color: var(--headerColor);
    position: relative;
  }
  #sbs .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: left;
    width: 100%;
    max-width: 46.875rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    color: var(--bodyTextColor);
  }
  #sbs .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs .cs-flex-group {
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
    background-color: #F7F7F7;
    border-radius: 1rem;
    position: relative;
  }
  #sbs .cs-flex-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0 0 1rem;
    color: #767676;
  }
  #sbs .cs-name {
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0.25rem;
    color: var(--headerColor);
    display: block;
  }
  #sbs .cs-job {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #767676;
    display: block;
  }
  #sbs .cs-quote-icon {
    /* 60px - 136px */
    width: clamp(3.75rem, 10vw, 8.5rem);
    height: auto;
    position: absolute;
    bottom: 0rem;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
  }
  #sbs .button-solid {
    margin-top: 2px;
   
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #sbs .cs-container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #sbs .cs-left {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
  #sbs .cs-right {
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #sbs .cs-left:before,
  body.dark-mode #sbs .cs-left:after {
    background: var(--accent);
  }
  body.dark-mode #sbs .cs-picture2 {
    background-color: var(--dark);
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
  }
  body.dark-mode #sbs .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #sbs .cs-title,
  body.dark-mode #sbs .cs-text,
  body.dark-mode #sbs .cs-h3,
  body.dark-mode #sbs .cs-flex-p,
  body.dark-mode #sbs .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs .cs-flex-group {
    background-color: var(--accent);
  }
  body.dark-mode #sbs .cs-job {
    color: var(--bodyTextColorWhite);
    opacity: .8;
  }
  body.dark-mode #sbs .cs-quote-icon {
    opacity: .2;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #sbs-r {
    padding: var(--sectionPadding);
  }
  #sbs-r .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  #sbs-r .cs-left {
    /* scaling the font size with the view width */
    font-size: min(2.31vw, .7em);
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    height: 39.75em;
    position: relative;
  }
  #sbs-r .cs-picture {
    border-radius: 1.5em;
    /* clips img tag corners */
    overflow: hidden;
    position: absolute;
    display: block;
  }
  #sbs-r .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #sbs-r .cs-picture1 {
    width: 32.625em;
    height: 36.3125em;
    right: 0;
    top: 0;
  }
  #sbs-r .cs-picture2 {
    width: 25.875em;
    height: 25em;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid #ffffff;
    left: 0;
    bottom: 0;
  }
  #sbs-r .cs-right {
    margin: auto;
    max-width: 33.875rem;
  }
  #sbs-r .cs-topper {
    font-size: 20px;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    display: block;
  }
  #sbs-r .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: left;
    max-width: 50rem;
    margin: 0 auto 1rem;
    color: var(--headerColor);
    position: relative;
  }
  #sbs-r .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: left;
    width: 100%;
    max-width: 46.875rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    color: var(--bodyTextColor);
  }
  #sbs-r .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-r .cs-flex-group {
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
    background-color: #F7F7F7;
    border-radius: 1rem;
    position: relative;
  }
  #sbs-r .cs-flex-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0 0 1rem;
    color: #767676;
  }
  #sbs-r .cs-name {
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0.25rem;
    color: var(--headerColor);
    display: block;
  }
  #sbs-r .cs-job {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #767676;
    display: block;
  }
  #sbs-r .cs-quote-icon {
    /* 60px - 136px */
    width: clamp(3.75rem, 10vw, 8.5rem);
    height: auto;
    position: absolute;
    bottom: 0rem;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #sbs-r .cs-container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #sbs-r .cs-left {
    font-size: min(1.2vw, 1em);
    flex: none;
    /* sends it to the right */
    order: 2;
  }
  #sbs-r .cs-right {
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #sbs-r .cs-left:before,
  body.dark-mode #sbs-r .cs-left:after {
    background: var(--accent);
  }
  body.dark-mode #sbs-r .cs-picture2 {
    background-color: var(--dark);
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
  }
  body.dark-mode #sbs-r .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #sbs-r .cs-title,
  body.dark-mode #sbs-r .cs-text,
  body.dark-mode #sbs-r .cs-h3,
  body.dark-mode #sbs-r .cs-flex-p,
  body.dark-mode #sbs-r .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-r .cs-flex-group {
    background-color: var(--accent);
  }
  body.dark-mode #sbs-r .cs-job {
    color: var(--bodyTextColorWhite);
    opacity: .8;
  }
  body.dark-mode #sbs-r .cs-quote-icon {
    opacity: .2;
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px - Contains hover animation */
@media only screen and (min-width: 0em) {
  #gallery {
    /* Centers button */
    text-align: center;
    padding: var(--sectionPadding);
    position: relative;
    /* Prevent overflow from the image going off screen */
    overflow: hidden;
  }
  #gallery .cs-container {
    width: 100%;
    max-width: 82.625em;
    margin: auto;
  }
  #gallery .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    display: block;
  }
  #gallery .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;
    max-width: 38.8125rem;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    color: var(--headerColor);
    position: relative;
  }
  #gallery .cs-image-group {
    /* used rem so it doesn't scale with the font size of on parent */
    font-size: min(1.1vw, 1em);
    width: 100%;
    max-width: 82.625em;
    padding: 0;
    margin: 0 auto 3.75rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.875em;
  }
  #gallery .cs-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.875em;
  }
  #gallery .cs-picture {
    position: relative;
    display: block;
  }
  #gallery .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #gallery .cs-row-1 .cs-picture-1 {
    width: 26.25em;
    height: 35.4375em;
  }
  #gallery .cs-row-1 .cs-picture-2 {
    width: 26.25em;
    height: 39.3125em;
  }
  #gallery .cs-row-1 .cs-picture-3 {
    width: 26.25em;
    height: 32em;
  }
  #gallery .cs-row-2 .cs-picture-1 {
    width: 26.25em;
    height: 30.75em;
  }
  #gallery .cs-row-2 .cs-picture-2 {
    width: 26.25em;
    height: 32.3125em;
  }
  #gallery .cs-row-2 .cs-picture-3 {
    width: 26.25em;
    height: 39.3125em;
  }
  #gallery .cs-row-3 .cs-picture-1 {
    width: 26.25em;
    height: 39.0625em;
  }
  #gallery .cs-row-3 .cs-picture-2 {
    width: 26.25em;
    height: 28.25em;
  }
  #gallery .cs-row-3 .cs-picture-3 {
    width: 26.25em;
    height: 39.3125em;
  }
}
/* Dark mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #gallery .cs-title {
    color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---          event           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #event {
    /* Centers the button */
    text-align: center;
    padding: 40px 30px;
  }
  #event .cs-container {
    max-width: 50 rem;
    margin:  auto;
  }
  #event .cs-topper {
    font-size: var(--topperFontSize);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    display: block;
  }
  #event .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    max-width: 43.75rem;
    margin: 0 auto 1rem;
    color: var(--headerColor);
    position: relative;
  }
  #event .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5rem;
    text-align: center;
    width: 100%;
    max-width: 40.625rem;
    margin: 0 auto;
    /* 88px - 104px */
    /* margin-bottom: clamp(5.5em, 10.2vw, 6.5em); */
    color: var(--bodyTextColor);
  }
  #event .cs-card-group {
    padding: 0;
    /* 48px - 64px */
    margin: 0 auto clamp(3rem, 5vw, 4rem);
  }
  #event .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    max-width: 33.875rem;
    margin: 0 auto 4rem;
    /* Padding L & R - 16px - 32px */
    padding: 3.75rem clamp(1rem, 3.2vw, 2rem) 0;
    /* 32px - 40px */
    padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
    box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* Prevent padding from affecting height & width */
    box-sizing: border-box;
  }
  #event .cs-item:last-of-type {
    margin-bottom: 0;
  }
  #event .cs-item-img {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: -2.5rem;
  }
  #event .cs-item-p {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0 0 1.25rem;
    padding-bottom: 1.25rem;
    color: var(--bodyTextColor);
    border-bottom: 1px solid #E8E9EC;
  }
  #event .cs-reviewer {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    width: 40%;
    margin: 0 auto 0 0;
    display: block;
    color: var(--headerColor);
  }
  #event .cs-desc {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--label);
    display: block;
  }
  #event .cs-item-stars {
    width: 6rem;
    height: 1rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48em) {
  #event .cs-card-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  #event .cs-item {
    /* reset margin so it won't interfere with flexbox */
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #event .cs-title,
  body.dark-mode #event .cs-text,
  body.dark-mode #event .cs-item-p,
  body.dark-mode #event .cs-reviewer {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #event .cs-item {
    background: var(--medium);
  }
  body.dark-mode #event .cs-desc {
    color: var(--primaryLight);
  }
}
/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #cta {
    position: relative;
    padding: 3.125rem 0;
  }
  #cta:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta .container {
    text-align: center;
  }
  #cta picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
  }
  #cta picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
  }
  #cta .title {
    font-weight: 900;
    font-size: min(9vw, 3rem);
    line-height: 1.20833333;
    color: #fff;
    position: relative;
    margin-bottom: 2.25rem;
    text-align: center;
  }
  #cta p {
    color: #fff;
    text-align: center;
    opacity: 1;
    margin: auto;
    margin-bottom: 2.25rem;
    width: 96%;
    max-width: 37.375rem;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #cta {
    padding: 10.5rem 0;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #cta {
    position: relative;
    /* margin-top: 6.25rem; */
  }
  #cta:before {
    display: none;
  }
  #cta:after {
    content: '';
    position: absolute;
    display: block;
    height: 69.25rem;
    width: 125rem;
    background: url("/assets/svgs/cta-squares.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -3;
  }
  #cta .container {
    width: 90.0625%;
    margin: auto;
  }
  #cta picture {
    width: 90.0625%;
    left: 50%;
    transform: translateX(-50%);
  }
  #cta picture:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #cta:after {
    display: none;
  }
}

/* Style for the partners section */
#partners {
  background-color: #f8f8f8; /* Set a background color for the partners section */
  padding: 40px 0; /* Adjust the padding as needed */
  text-align: center;
}

/* Style for the "Our Partners" heading */
.cs-topper {
  /* font-size: 24px; */
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
  /* color: #333;  */
  font-size: var(--topperFontSize);
  line-height: 1.2em;
    text-transform: uppercase;
    color: var(--primaryLight);

}

/* Style for the partner logos */
.cs-partner-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Style for individual partner logos */
.cs-partner-logo {
  max-width: 100px; /* Set a maximum width for the partner logos */
  height: auto;
  margin: 0 20px; /* Adjust the margin as needed */
}

/* Apply a hover effect on partner logos */
.cs-partner-logo:hover {
  opacity: 0.8; /* Set your desired opacity on hover */
}
/* Media queries for responsiveness */
@media screen and (max-width: 767px) {
  /* Styles for phones */
  .cs-partner-logo {
    margin: 0 50px;
    flex-direction: column; /* Adjust the margin for smaller screens */
  }

  .cs-topper {
    font-size: var(--topperFontSize);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles for tablets */
  .cs-partner-logo {
    margin: 0 15px; /* Adjust the margin for tablets */
  }
}
.date-info,
.additional-info {
    display: flex;
    flex-direction: column;
}
