---
layout: 'base.html'
description: 'Meta description for the page'
metaTitle: 'Title that shows up on google searches'
tagTitle: 'Event'
preloadImg: '/images/bg_1.jpg'
preloadCSS: '/css/event.css'
permalink: 'event/'
eleventyNavigation:
    key: Event
    order: 500
---

<!-- Enter html code below -->
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Events</h1>
    {% image './src/images/WhatsApp Image 2023-11-08 at 4.14.32 PM.jpeg', 'cabinets', '', 'lazy', '(max-width: 850px) 850px, 1920px'%}
</section>

<!-- ============================================ -->
<!--              Main Blog Content               -->
<!-- ============================================ -->

<div class="blog-container main-content-wrapper">
    <!--Main content -->
    <div class="main-content">
        <!-- ============================================ -->
        <!--                 Blog Articles                -->
        <!-- ============================================ -->

        {% if collections.event | length == 0 %}
            <h1>No Recent Eventsls</h1>
        {% endif %}
        {%- for post in collections.event | reverse -%}
            <article class="recent-articles">
                <!--Main Article Image-->
                <picture class="blog-mainImage">
                    <img
                        src="{{ event.data.image }}"
                        alt="{{ event.data.imageAlt }}"
                        width="795"
                        height="400"
                        decoding="async"
/>
                </picture>
                <!--Article Info-->
                <div class="article-group">
                    <div class="blog-authorGroup">
                        <!--Author Image-->
                        <picture class="blog-author-img">
                            <img
              src="/assets/svgs/profile.svg"
              alt="house"
              width="32"
              height="32"
              decoding="async"
/>
                        </picture>
                        <span class="blog-author">{{ event.data.author }}</span>
                        <span aria-hidden="true" class="blog-dot"></span>
                        <!--Blog Date-->
                        <span class="blog-date">{{ event.date | postDate }}</span>
                    </div>
                    <h2 class="blog-h1">
                        {{ event.data.eventTitle }}
                    </h2>
                    <p class="blog-desc">
                        {{ event.data.eventDescription }}
                    </p>
                    <a href="{{ event.url }}" class="blog-link">More About The Event</a>
                </div>
            </article>
        {%- endfor -%}
    </div>

    <!-- ============================================ -->
    <!--                Featured Event Posts                -->
    <!-- ============================================ -->

    {% include 'featured-event.html' %}
</div>