---
layout: 'base.html'
description: 'Meta description for the page'
metaTitle: 'Title that shows up on google searches'
tagTitle: 'Pixel Perfect Websites'
preloadImg: '/images/landing-1920w.webp'
preloadCSS: '/css/event.css'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---
<!-- Enter html code below -->

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero">
  <div class="cs-container">
    <div class="cs-flex-group">
      <h1 class="cs-title">Ticket With Ease</h1>
     
      <!-- <a href="" class="cs-button-solid">Explore More</a> -->
      <a href="/about" class="cs-button-transparent">
        <img
          class="cs-img"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
          alt="play icon"
          width="17"
          height="17"
/>
        Learn More
      </a>
    </div>
  </div>

  <!-- Background Image -->
  {% image './src/images/bg_3.jpg', 'yopasTeam', 'cs-picture', 'eager', '(max-width: 400px) 400px, (max-width: 850px) 850px, 1920px'%}
</section>


<section id="sbs">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
      {% image './src/images/YoPasInsta44.png', 'house', 'cs-picture cs-picture1', 'lazy'%}
      {% image './src/images/YoPasInsta44.png', 'house', 'cs-picture cs-picture2', 'lazy'%}
    </div>
    <!-- Right Content Section-->
    <div class="cs-right">
      <span class="cs-topper">About Us</span>
      <!-- <h2 class="cs-title">About YoPas</h2> -->
      <p class="cs-text"> </p>
      <p class="cs-text"> </p>
      <p class="cs-text"> </p>
      <p class="cs-text"> </p>
      <p class="cs-text"> </p>
      <p class="cs-text"> </p>
      <p class="cs-text"> </p>
      <p class="cs-text"> </p>
      <p class="cs-text"> </p>
      <p class="cs-text"> </p>
      <p class="cs-text"> </p>
      <p class="cs-text"> </p>
      <p class="cs-text"> </p>

      <p class="cs-text">
        We offer the most fast, secure, reliable, efficient and
        effective ticketing solution for all events.
        Every order is 100% guaranteed on YoPas. YoPas' exclusive FanProtect Guarantee
        ensures valid tickets or your money back.
        It’s this guarantee that makes us the most trusted ticket marketplace by
        clients and customers where you can buy and sell with 100% confidence.
        <a href="/about" class="button-solid">More About Us</a>

      </p>
     
    </div>
  </div>
</section>



<section id="event">
  <div class="cs-container">
    <span class="cs-topper">Events</span>
   
    <div class="blog-container main-content-wrapper">
      <!-- Main content -->
      <div class="main-content">

        {% if collections.post | length == 0 %}
        <h1>No Recent Events</h1>
        {% endif %}

        {%- for post in collections.post | reverse -%}
        {% if loop.index0 < 6 %}
        <article class="recent-articles">
          <!-- Main Article Image -->
          <a aria-label="read more event" href="{{ post.url }}" style="text-decoration: none; color: inherit;">

            <div class="blog-mainImage">
              <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" decoding="async" />
            </div>

            <!-- Article Info -->
            <div class="article-group">
              <!-- Apply the Nunjucks syntax to remove underline from this specific heading -->
              <h2 class="blog-h2">{{ post.data.eventTitle }}</h2>
              <!-- <div class="blog-authorGroup">
                <span class="blog-date">{{ post.data.host }}</span>
              </div> -->
              <div class="date-info">
                <span class="blog-date">{{ post.date | postDate }}</span>
                <span class="blog-date">{{ post.data.host }}</span>
            </div>
              
              <!-- <p class="blog-desc">{{ event.data.eventDescription }}</p> -->
            </div>
          </a>
        </article>
        {% endif %}
        {%- endfor -%}
      </div>
    </div>

    <a aria-label="read more event" href="/event" class="button-solid">More Events </a>
  </div>
</section>

<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
  <div class="container">
    <h2 class="title">
      Looking to Connect with Us?<br/>
    </h2>
    <p>
      Discover how we can assist you! Our team is eager to hear from you. Click below and head to our contact page for a personalized experience.
    </p>
    <a href="/contact" class="button-solid">Start Your Conversation</a>
  </div>
  {% image './src/images/WhatsApp Image 2023-11-08 at 4.14.32 PM.jpeg', 'kitchen cabinets', '', 'lazy', '(max-width: 400px) 400px, (max-width: 850px) 850px, 1920px'%}
</section>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window
      .netlifyIdentity
      .on('init', (user) => {
        if (!user) {
          window
            .netlifyIdentity
            .on('login', () => {
              document.location.href = '/admin/';
            });
        }
      });
  }
</script>

<!-- ============================================ -->
<!--                 Partners                    -->
<!-- ============================================ -->

<section id="partners">
  <div class="container">
    <span class="cs-topper">Our Partners</span>
    <div class="cs-partner-logos">
      <!-- Logo for MTN -->
      {% image './src/images/New-mtn-logo-removebg-.png', 'MTN Logo', 'cs-picture cs-partner-logo', 'lazy'%}

      <!-- Logo for Airtel -->
      {% image './src/images/airtel_logo-removebg-.png', 'Airtel Logo', 'cs-picture cs-partner-logo', 'lazy'%}

      <!-- Logo for GT Bank -->
      {% image './src/images/guaranty-trust-bank-gtbank-vector-logo-removebg-.png', 'GT Bank Logo', 'cs-picture cs-partner-logo', 'lazy'%}

      <!-- Logo for Uganda Manufacturers Association -->
      {% image './src/images/unffe.png', 'unffe Logo', 'cs-picture cs-partner-logo', 'lazy'%}

      {% image './src/images/UMA-LOGO-150x150-1.png', 'UMA Logo', 'cs-picture cs-partner-logo', 'lazy'%}



    </div>
  </div>
</section>
