---
layout: 'base.html'
description: 'Meta description for the page'
metaTitle: 'Title that shows up on google searches'
tagTitle: 'Pixel Perfect Websites'
preloadImg: '/images/landing-1920w.webp'
preloadCSS: '/css/event.css'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---
<!-- Enter html code below -->

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero">
  <div class="cs-container">
    <div class="cs-flex-group">
      <h1 class="cs-title">Ticket With Easess</h1>
     
      <!-- <a href="" class="cs-button-solid">Explore More</a> -->
      <a href="/about" class="cs-button-transparent">
        <img
          class="cs-img"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
          alt="play icon"
          width="17"
          height="17"
/>
        Learn More
      </a>
    </div>
  </div>

  <!-- Background Image -->
  {% image './src/images/pexels-rahul-pandit-1652353.jpg', 'yopasTeam', 'cs-picture', 'eager', '(max-width: 400px) 400px, (max-width: 850px) 850px, 1920px'%}
</section>


<section id="sbs">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
    {% image './src/images/bg_22.jpg', 'house', 'cs-picture cs-picture1', 'lazy'%}
      {% image './src/images/ph1.jpg', 'house', 'cs-picture cs-picture2', 'lazy'%}
    </div>
    <!-- Right Content Section-->
    <div class="cs-left">
      <span class="cs-topper">About Us</span>
      <!-- <h2 class="cs-title">About YoPas</h2> -->
      <p class="cs-text"> </p>
     
    
    

      <p class="cs-text">
        
Ditch ticket stress! YoPas is the fastest, safest, guaranteed way to buy & sell event tickets. 

Our FanProtect ensures valid tickets or your money back, making YoPas the most trusted marketplace. Join the community, buy & sell with confidence!
        

      </p>

      <a href="/about" class="button-solid">More About Us</a>

     
    </div>
  </div>
</section>



<section id="event">
  <div class="cs-container">
    <span class="cs-topper">Events</span>
   
    <div class="blog-container main-content-wrapper">
      <!-- Main content -->
      <div class="main-content">

        {% if collections.post | length == 0 %}
        <h1>No Recent Events</h1>
        {% endif %}

        {%- for post in collections.post | reverse -%}
        {% if loop.index0 < 6 %}
        <article class="recent-articles">
          <!-- Main Article Image -->
          <a aria-label="read more event" href="{{ post.url }}" style="text-decoration: none; color: inherit;">

            <div class="blog-mainImage">
              <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" decoding="async" />
            </div>

            <!-- Article Info -->
            <div class="article-group">
              <!-- Apply the Nunjucks syntax to remove underline from this specific heading -->
              <h2 class="blog-h2">{{ post.data.eventTitle }}</h2>
              <!-- <div class="blog-authorGroup">
                <span class="blog-date">{{ post.data.host }}</span>
              </div> -->
              <div class="date-info">
                <span class="blog-date">{{ post.date | postDate }}</span>
                <span class="blog-date">{{ post.data.host }}</span>
            </div>
              
              <!-- <p class="blog-desc">{{ event.data.eventDescription }}</p> -->
            </div>
          </a>
        </article>
        {% endif %}
        {%- endfor -%}
      </div>
    </div>

    <a aria-label="read more event" href="/event" class="button-solid">More Events </a>
  </div>
</section>

<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
  <div class="container">
    <h2 class="title">
      Looking to Connect with Us?<br/>
    </h2>
    <p>
      Discover how we can assist you! Our team is eager to hear from you. Click below and head to our contact page for a personalized experience.
    </p>
    <a href="/contact" class="button-solid">Start Your Conversation</a>
  </div>
  {% image './src/images/pexels-chepté-cormani-1416530.jpg', 'kitchen cabinets', '', 'lazy', '(max-width: 400px) 400px, (max-width: 850px) 850px, 1920px'%}
</section>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window
      .netlifyIdentity
      .on('init', (user) => {
        if (!user) {
          window
            .netlifyIdentity
            .on('login', () => {
              document.location.href = '/admin/';
            });
        }
      });
  }
</script>

<!-- ============================================ -->
<!--             Partners Section           -->
<!-- ============================================ -->


<section id="partners" class="section-light py-5">
  <div class="container">
    <div class="row text-center mb-5">
      <div class="col">
        <h2 class="cs-topper">Our Trusted Partners</h2>
        <p class="cs-text">We're proud to collaborate with leading organizations to make a difference.</p>
      </div>
    </div>
    <div class="row g-5 d-flex align-items-center">
      <a href="https://www.mtn.com/" target="_blank" style="padding-top: 1px " >
        {% image './src/images/New-mtn-logo-removebg-.png', 'MTN Logo', 'cs-picture cs-partner-logo', 'lazy'%}
    </a>
    
    <a href="https://www.gtbank.com/" target="_blank" style="padding-top: 50px;">
        {% image './src/images/guaranty-trust-bank-gtbank-vector-logo-removebg-.png', 'GT Bank Logo', 'cs-picture cs-partner-logo', 'lazy'%}
    </a>
    
    <a href="https://www.unffe.org.ug/" target="_blank" style="padding-top: 40px;">
        {% image './src/images/unffe.png', 'unffe Logo', 'cs-picture cs-partner-logo', 'lazy'%}
    </a>
    
    <a href="https://www.uma.ug/" target="_blank" style="padding-top: 15px;">
        {% image './src/images/uma-pic (1).png', 'UMA Logo', 'cs-picture cs-partner-logo', 'lazy'%}
    </a>
    
    <a href="https://cbspewosansindika.ug//" target="_blank" style="padding-top: 3%;">
        {% image './src/images/cbs pewosa_utrax.jpg', 'PEWOSA Logo', 'cs-picture cs-partner-logo', 'lazy'%}
    </a>
          </a>
    </div>
  </div>
</section>





